{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <p>
    <br>Ололотекст
    <br>Ололотекст
    <br>Ололотекст
    <br>Ололотекст
    <br>Ололотекст
    <br>Ололотекст
    <br>Ололотекст
    <br>Ололотекст
    </p>
    <br>

    <h4>Записи БД</h4>
    {% if records %}
        {% for el in records %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.title }}</h3>
                <p>{{ el.record }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Записей нет</p>
    {% endif %}
{% endblock %}
